{% macro render_comment(comment, add_reply_link=false) %}
    <cite>{{ comment.author|e }}</cite> {{ _('Says') }}:<br />
	<small class="commentmetadata">
		<a href="#comment-{{ comment.id }}">{{ comment.pub_date|datetimeformat }}</a>
	</small>
      <p>{{ comment.body }}</p>
{%- endmacro %}

{% macro render_comments(post) %}
  {%- if cfg.use_flat_comments %}
    <ol class="commentlist">
    {%- for comment in post.visible_comments %}
      <li id="comment-{{ comment.id }}" class="comment{{ loop.cycle(' alt', '') }}">{{ render_comment(comment) }}</li>
    {%- else %}
      {# invisble LI to make validators happy.  We do not omit the
         list itself because javascript might still want to reference it. #}
      <li style="display: none"></li>
    {%- endfor %}
    </ol>
  {%- else %}
    <ol class="commentlist">
    {%- for comment in post.visible_root_comments recursive %}
      <li id="comment-{{ comment.id }}" class="comment{{ loop.cycle(' alt', '') }}">
        {{ render_comment(comment, post.comments_enabled) }}
        {%- if comment.visible_children %}
          <ul class="sub_comments">{{ loop(comment.visible_children) }}</ul>
        {%- endif %}
      </li>
    {%- else %}
      {# invisble LI to make validators happy.  We do not omit the
         list itself because javascript might still want to reference it. #}
      <li style="display: none"></li>
    {%- endfor %}
    </ol>
  {%- endif %}
{% endmacro %}

{% macro render_comment_editor(post, form) %}
  {%- call form(id='commentform') %}
    {{ emit_event('before-comment-editor-rendered', post) }}
    {%- if not form.small_form %}
    
      <p>{{ form.author.render(size=22, tabindex=1) }} {{ form.author.label.render() }} </p>
      <p>{{ form.email.render(size=22, tabindex=2) }} {{ form.email.label.render() }} </p>
      <p>{{ form.www.render(size=22, tabindex=3) }} {{ form.www.label.render() }} </p>
    
    {%- endif %}
    <p>{{ form.body(tabindex=4, rows=10) }}{{ form.parent() }}</p>
    <div id="comment-message">{# used for the reply callback #}</div>
    {{ emit_event('before-comment-editor-buttons-rendered', post) }}
    <p class="actions">
      <input type="submit" id="submit" value="{{ _('Submit Comment') }}"/>
    </p>
    {{ emit_event('after-comment-editor-rendered', post) }}
  {%- endcall %}
{% endmacro %}
