{% extends "widgets/base.html" %} 
{% block title %}Meta{% endblock %}
{% block body %}
	<ul>
		{%- if request.user.is_manager %}
        <li><a href="{{ url_for('admin/index')|e }}">{{ _('Admin Panel') }}</a></li>
        <li><a href="{{ url_for('admin/logout')|e }}">{{ _('Logout') }}</a></li>
        {%- else %} 
 		<li><a href="{{ url_for('admin/index')|e }}">{{ _('Login') }}</a></li>
		{%- endif %}
		<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
		<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
		<li><a href="http://zine.pocoo.org/" title="Powered by Zine">Zine</a></li>
	</ul>
{% endblock %}    